{:paths   ["src"]
 :deps    {org.clojure/core.async                          {:mvn/version "1.8.741"}
           com.cognitect/anomalies                         {:mvn/version "0.1.12"}
           org.clojure/data.json                           {:mvn/version "2.5.1"}
           com.google.auth/google-auth-library-oauth2-http {:mvn/version "1.41.0"}
           java-http-clj/java-http-clj                     {:mvn/version "0.4.3"}
           }
 :aliases {:test        {:extra-paths ["test"]
                         :extra-deps  {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                                       provisdom/test         {:git/url "https://github.com/Provisdom/test.git"
                                                               :git/sha "e61c16a40bd5d1676afcef6791fd8cb60551b5a4"}
                                       org.clojure/test.check {:mvn/version "1.1.2"}}}
           :build       {:deps       {io.github.seancorfield/build-clj {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                         :ns-default build}
           :test-runner {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                         :main-opts  ["-m" "kaocha.runner"]}
           :dev         {:extra-paths ["resources" "env" "gcp-api-descriptors"]
                         :extra-deps  {com.climate/claypoole {:mvn/version "1.1.4"}}}
           :descriptors {:extra-deps {gcp-api/descriptors {:local/root "gcp-api-descriptors"}}}}}
